@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200);
@import url(https://fonts.googleapis.com/css?family=Dosis:600);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  background-color: navy;
  background-image: url("Fly.jpg");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;

}
header {
  background-image: url("Fly.jpg");
  background-repeat: repeat;
background-color: blue;
  font-family: "Montserrat", serif;
  border: 4px solid black;
  margin-bottom: 20px;
  margin-top: 5px;
}
  h1 {
  color: #f5f5dc;
  font-size: 50px;
  border-bottom: 7px solid #c1c2c0;
  padding-left: 3px;
  margin: 0;
  word-spacing: 5px;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}
h2 {
  color: pink;
  font-size: 35px;
  border-top: 7px solid #c1c2c0;
  border-bottom: 7px solid #c1c2c0;
  padding: 5px;
  padding-left: 100px;
  width: 1132px;

}

nav {
  text-align: center;
  border-top: 7px solid #c1c2c0;
}

nav a {
  text-decoration: none;
  margin: 80px;
  font-size: 30px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  letter-spacing: 2px;
}


#para1 {
  color: #dda0dd;
  font-weight: bold;
  font-family: "Indie Flower", serif;
  font-size: 20px;
  box-sizing: border-box;
}

#title1{
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

#title2{
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

#title3{
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}
