@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200);
@import url(https://fonts.googleapis.com/css?family=Dosis:600);

body {
  background-color: #40495b;
  background-image: url("sunfav.jpg");
  position: relative;
}
header {
  background-color: #40495b;
  font-family: "Montserrat", serif;
  border: 4px solid black;
  margin-bottom: 20px;
}
  h1 {
  color: #f5f5dc;
  font-size: 45px;
  border-bottom: 7px solid #c1c2c0;
  padding: 5px;
}
h2 {
  color: pink;
  font-size: 25px;
  border-top: 7px solid #c1c2c0;
  padding: 5px;
}
#para1 {
  color: #dda0dd;
  font-weight: bold;
  font-family: "Indie Flower", serif;
  font-size: 20px;
  box-sizing: border-box;
}

#photo1 {
  padding-left: 200px;
  padding-bottom: 20px;
  padding-top: 30px;
  box-sizing: border-box;
  border-top: 5px solid #c1c2c0;
}
#photo2 {
padding-left: 200px;
padding-bottom: 20px;
padding-top: 30px;
box-sizing: border-box;
border-top: 5px solid #c1c2c0;
}
#photo3 {
  padding-left: 200px;
  padding-bottom: 20px;
  padding-top: 30px;
  box-sizing: border-box;
  border-top: 5px solid #c1c2c0;
}
#photo4 {
  padding-left: 200px;
  padding-bottom: 20px;
  padding-top: 30px;
  box-sizing: border-box;
  border-top: 5px solid #c1c2c0;
}
#photo5 {
  padding-left: 200px;
  padding-bottom: 20px;
  padding-top: 30px;
  box-sizing: border-box;
  border-top: 5px solid #c1c2c0;
}
#photo6 {
padding-left: 200px;
padding-bottom: 20px;
padding-top: 30px;
box-sizing: border-box;
border-top: 5px solid #c1c2c0;
}

footer {

}
