@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

html, body {
  width: 100%;
}

body {
  font-family: "Arimo", serif;
  font-size: 17px;
  background-color: pink;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

header {
  border: 3px solid black;
}

h1 {
  font-weight: 700;
  color: green;
text-align: center;
}

p {text-align: center;
  font: 500;
}

h2 {
  font-weight: 400;
  color: blue;
  box-sizing: border-box;
  margin: 22px;
  float: left;
  padding: 20px;
  width: 225px;
  background-color: yellow;
  border-top: 3px dashed red;
  border-left: 3px dashed red;
}

ul {
  color: blue;
  box-sizing: border-box;
  margin: 22px;
  float: left;
  padding: 22px;
  width: 300px;
  background-color: yellow;
  border-top: 3px dashed red;
  border-right: 3px dashed red;
}

h3 {
  font-weight: 400;
  color: purple;
  box-sizing: border-box;
  margin: 20px;
  float: left;
  padding: 25px;
  width: 225px;
  background-color: orange;
  border-top: 3px solid green;
  border-left: 3px solid green;
}

ol{
  color: purple;
  box-sizing: border-box;
  margin: 20px;
  float: left;
  padding: 25px;
  width: 300px;
  background-color: orange;
  border-top: 3px solid green;
  border-right: 3px solid green;
}
