@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

body {
  font-family: "Arimo", serif;
  font-size: 17px;
  background-color: pink;
}

h1 {
  font-weight: 700;
  color: green;
}

h2 {
  font-weight: 400;
  color: blue;
}
