@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);




header {
  background-color: gray;
  padding: 2px;
}

h1{
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 45px;
  border-bottom: 5px solid #ccc8c2;
  padding: 1px;
  color: black;
  text-align: left;
  width: 400px;
  font-family: 'Playfair Display', serif;
}

h2{
  margin-left: 120px;
  margin-top: 1px;
  font-size: 30px;
  font-weight: bold;
font-family: 'Playfair Display', serif;
  margin-bottom: 5px;
  color: #add2f9;
}

nav {
  text-align: right;
  border-bottom: 7px solid #ccc8c2;
}

nav a {
  text-decoration: none;
  margin: 0 30px;
  font-size: 30px;
  color: #74a6fa;
  font-family: 'Playfair Display', serif;
}

body {
  background-color: white;
}


#photo1 {
  text-align: center;
  margin-top: 50px;
}

#photo11{
  float: left;
  margin-top: 50px;
}

p {
  margin-top: 50px;
  text-align: left;
  margin-left: 5px;
}

#photo2 {
  margin-top: 40px;
}
#photo3 {
  margin-top: 40px;
}
#photo4 {
  margin-top: 40px;
}
#photo5 {
  margin-top: 40px;
}
#photo6 {
  margin-top: 40px;
}
#photo7 {
  margin-top: 40px;
}
#photo8 {
  margin-top: 40px;
}
#photo9 {
  margin-top: 40px;
}
#photo10 {
  margin-top: 40px;
}

#photo12 {
  margin-top: 40px;
}
#photo13 {
  margin-top: 40px;
}
#photo14 {
  margin-top: 40px;
}
#photo15 {
  margin-top: 40px;
}
#photo16 {
  margin-top: 40px;
}
#photo17 {
  margin-top: 40px;
}
#photo18 {
  margin-top: 40px;
}
#photo19 {
  margin-top: 40px;
}
#photo20 {
  margin-top: 40px;
}
#photo21 {
  margin-top: 40px;
}
#photo22{
  margin-top: 40px;
}
#photo23{
  margin-top: 40px;
}

#title1{
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
}

#title2{
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
}

#title3{
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
}
