body {
  background-color: orange;
}

header {
  background-color:;
  box-sizing: border-box;
  margin: auto;
  font-size: 39px;
  float: left;
  padding: 74px;
}


p {
  font-family: serif;
  font-size: 10px;
  color: brown;

  text-align: center;
}

h1 {
  color: red;
  font-family: cursive;
  font-size: 30px;
  float: none;
}

h2 {
  color: purple;
  font-family: fantasy;
  font-size: 25px;
  float: right;
}

h3 {
  color: green;
  font-family: monospace;
  font-size: 50px;
  padding: 5px;
}

h4 {
  color: yellow;
  font-family: inherit;
  font-size: 72px;
  font-weight: lighter;
}

h5{
  color: pink;
  font-family: sans-serif;
  font-size: 40px;
}

h6{
  color: blue;
  font-size: 12px;
  font-weight: bolder;
}

li {
  margin: 35px;
  border: 5px dashed grey;
}

ul {
  padding: 12px;
  border-bottom: 6px solid black;
  border-top: 8px solid black;
}

#container1 {
  width: 82px;
  background-color: white;
  margin-left: 12px;
  box-sizing: border-box;
  float: left;
}

#container2 {
  width: 47px;
  margin-right: 33px;
  padding: 33px;
  box-sizing: border-box;
  float: left;
}

section {
  width: 88;
  background-color:
  margin: 22px;
  padding: 12px;
}

footer {
  font-size: 33px;
}
