@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic);


body {
  background-color: #808000;
}

header {
  background-color: #d2691e;
  box-sizing: border-box;
  margin: auto;
  font-size: 200;
  float: left;
  padding: 74px;
  font-style: italic;
  font-family: "PT Sans Narrow," sans-serif;
}

img {
  float: right;
}

p {
  font-size: 100;
  color: brown;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
}

h1 {
  color: red;
  font-family: cursive;
  font-size: 30px;
  float: none;
  background-color: #ffd700;
}

h2 {
  color: purple;
  font-family: fantasy;
  font-size: 25px;
  float: right;
}

h3 {
  color: #4169e1;
  font-family: monospace;
  font-size: 50px;
  padding: 5px;
}

h4 {
  color: yellow;
  font-family: "Montserrat", serif;
  font-size: 700;
  font-weight: lighter;
}

h5{
  color: pink;
  font-family: "Ubuntu", serif;
  font-size: 400;
}

h6{
  color: blue;
  font-size: 12px;
  font-weight: bolder;
}

li {
  margin: 35px;
  border: 5px dashed grey;
  color: #ff00ff;
}

ul {
  padding: 12px;
  border-bottom: 6px solid	#9acd32;
  border-top: 8px dotted #708090;
  color: #b22222;
}

#container1 {
  width: 82px;
  background-color: #bdb76b;
  margin-left: 12px;
  box-sizing: border-box;
  float: left;
  font-weight: 800;
}

#container2 {

  margin-right: 33px;
  padding: 33px;
  box-sizing: border-box;
  float: left;
  color: #ff8c00;
}

section {

  background-color: #70EBFF;
  margin: 28px;
  padding: 13px;
  box-sizing: border-box;
  float: left;
}

footer {
  font-size: 400;
  background-color: #cd853f;
  font-family: "Lora", sans-serif;
}

#container4 {
  background-color: #228b22;
  box-sizing: border-box;
  margin: auto;
  float: left;
}

#container6 {
  font-size: 700;
  font-family: "Oswald", serif;
  background-color: #8b008b;
  box-sizing: border-box;
  float: left;
  padding: 12px;
}

#container7 {
  font-size: 300;
  font-family: "Open Sans", serif;
  background-color: #8fbc8f;
  box-sizing: border-box;
  float: left;
  padding: 13px;

}
